/**
 * Mixins
 */
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

/**
 * Styles
 */
body {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1 {
  font-size: 25px;
  margin: 1.5em 0 1.3em;
}

header {
  margin: 1em 0;

  p {
    margin: 0.5em 0;
  }
}

nav {
  margin: 2em 0;

  li {
    display: inline;

    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-indent: -9999em;
      text-overflow: hidden;
      background-repeat: no-repeat;
      margin: 0 7px;

      &.crowdskout {
        background-image: url('/i/crowdskout-logo.png');
        @include image-2x('/i/crowdskout-logo@2x.png', 30px, 30px);
      }

      &.twitter {
        background-image: url('/i/twitter-logo.png');
        @include image-2x('/i/twitter-logo@2x.png', 30px, 30px);
      }

      &.github {
        background-image: url('/i/github-logo.png');
        @include image-2x('/i/github-logo@2x.png', 30px, 30px);
      }

      &.linkedin {
        background-image: url('/i/linkedin-logo.png');
        @include image-2x('/i/linkedin-logo@2x.png', 30px, 30px);
      }
    }
  }
}

footer {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}